body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
    background: linear-gradient(to right, #1D2671, #C33764); 
    font-family: 'Roboto', sans-serif;
  background:url('https://www.simulateur-de-vol.net/fond-ecran/images/boeing-787/1920x1080/01-boeing-787-dreamliner-volant-dans-les-nuages-1920x1080-wallpaper.jpg');
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    color: white;
}

/* ici parametre des entrees pour le form */

.login-container input[type=text], .login-container input[type=email], .login-container input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    border-radius: 20px;

}

.login-container input[type=file]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    border-radius: 20px;

}

/* ici parametres pour la jauge du niveau de difficulte du mot de passe */

#strength-bar {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    border-radius: 20px;
}

#strength-bar div {
    height: 100%;
}

/* ici parametres pour le boutton je m inscris */

.login-container button {
    border-radius: 20px;
    background-color: #1D2671;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

}

.login-container button:hover {
    transition: transform 0.3s, background 0.3s;
    border-radius: 20px;
    transform: scale(1.05);
    background: linear-gradient(to left, #1D2671, #C33764);
}

/* ici parametres du petit message pour la redirection vers la page se connecter */

.login-container .message {
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

/* personalidation du boutton retour a l accueil */

.home-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    border: none;
    cursor: pointer; 
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    background-color: #1D2671;
    transition: transform 0.3s, background 0.3s;
}

.home-button:hover {
    border-radius: 20px;
    transform: scale(1.05);
    background: linear-gradient(to left, #1D2671, #C33764);
}
    
 /* ici c'est le responsive pour l'adaptation du site en fonction du support (pc, telephone, tablette) */

@media screen and (max-width: 768px) {
    .login-container {
        width: 90%;
    }
    .home-button {
        position: fixed;
        top: 10px;
        left: 50%;
    }
}

@media screen and (max-width: 480px) {
    .login-container {
        width: 95%;
    }
    .home-button {
        position: fixed;
        top: 10px;
        left: 50%;
    }
}

@media screen and (min-width: 1080px) {
    .login-container {
        width: 50%;
    }
}
